<ol class="breadcrumb bg-white">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/characters">Characters</a></li>
  <li class="breadcrumb-item active">{{#if character}}Edit{{else}}Add{{/if}}</li>
</ol>
<h1>{{#if character}}Edit{{else}}Add{{/if}} Character</h1>
<form method="post">
  <div class="hidden-xs-up">
    <input class="hidden-xs-up" type="hidden" name="id" value="{{character.id}}" />
  </div>
  <div class="form-group row">
    <label for="name" class="col-2 col-form-label">Name</label>
    <div class="col-10">
      <input class="form-control" name="name" type="text" required value="{{character.name}}" id="name">
    </div>
  </div>
  <div class="form-group row">
    <label for="hometown" class="col-2 col-form-label">Hometown</label>
    <div class="col-10">
      <input class="form-control" name="hometown" type="text" value="{{character.hometown}}" id="hometown">
    </div>
  </div>
  <div class="form-group row">
    <label for="birth" class="col-2 col-form-label">Birth</label>
    <div class="col-10">
      <input class="form-control" name="birth" type="date" value="{{character.birth}}" id="birth">
    </div>
  </div>
  <div class="form-group row">
    <label for="death" class="col-2 col-form-label">Death</label>
    <div class="col-10">
      <input class="form-control" name="death" type="date" value="{{character.death}}" id="death">
    </div>
  </div>
  <div class="form-group row">
    <label for="house_id" class="col-2 col-form-label">House</label>
    <div class="col-10">
      <select class="form-control" name="house_id" id="house_id">
        {{#each houses}}
        <option value="{{id}}" {{#if_eq id @root.character.house_id}}selected{{/if_eq}}>{{name}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="description" class="col-2 col-form-label">Description</label>
    <div class="col-10">
      <textarea class="form-control" name="description" id="description" rows="3">{{character.description}}</textarea>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
