
{{#if error}}
<div class="alert alert-danger" role="alert">
  <h3 class="alert-heading">The nargles are at it again...</h3>
  <p>{{error}}</p>
</div>
{{else}}
<ol class="breadcrumb bg-white">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/characters">Characters</a></li>
  <li class="breadcrumb-item active">{{character.name}}</li>
</ol>
<div class="row">
  <div class="col-11">
    <h2>{{character.name}}</h2>
  </div>
  <div class="col-1">
    <a href="/characters/{{character.id}}/edit" class="btn btn-sm btn-outline-secondary">Edit</a>
  </div>
</div>
<p>{{character.description}}</p>
<div class="row">
  <div class="col-md-6">
    <table class="table">
      <tr>
        <td><strong>Hometown</strong></td>
        <td>{{character.hometown}}</td>
      </tr>
      <tr>
        <td><strong>Birth</strong></td>
        <td>{{character.birth}}</td>
      </tr>
      {{#if character.death}}
      <tr>
        <td><strong>Death</strong></td>
        <td>{{character.death}}</td>
      </tr>
      {{/if}}
    </table>
  </div>
  <div class="col-md-6">
    <h3>Related</h3>
    <ul>
      {{#each relations}}
      <li>
        <a href="/characters/{{id}}">{{name}} - {{relation}}</a>
      </li>
      {{/each}}
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Pets</h3>
    <ul>
      {{#each pets}}
      <li>
        <a href="/pets/{{id}}">{{name}}</a>
      </li>
      {{/each}}
    </ul>
    <a href="/pets/add?owner_id={{character.id}}" class="btn btn-primary">ADD PET</a>
  </div>
  <div class="col-md-6">
    <h3>Concentrations</h3>
    <ul>
      {{#each concentrations}}
      <li>
        <a href="/concentrations/{{id}}">{{title}}</a>
      </li>
      {{/each}}
    </ul>
  </div>
</div>
{{/if}}
