
{{#if error}}
<div class="alert alert-danger" role="alert">
  <h3 class="alert-heading">The nargles are at it again...</h3>
  <p>{{error}}</p>
</div>
{{else}}
<ol class="breadcrumb bg-white">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/characters">Characters</a></li>
  <li class="breadcrumb-item active">{{character.name}}</li>
</ol>
<div class="row">
  <div class="col-11">
    <h2>{{character.name}}</h2>
  </div>
  <div class="col-1">
    <a href="/characters/{{character.id}}/edit" class="btn btn-sm btn-outline-secondary">Edit</a>
  </div>
</div>
<p>{{character.description}}</p>
<table class="table">
  <tr>
    <td><strong>Hometown</strong></td>
    <td>{{character.hometown}}</td>
  </tr>
  <tr>
    <td><strong>Birth</strong></td>
    <td>{{character.birth}}</td>
  </tr>
  {{#if character.death}}
  <tr>
    <td><strong>Death</strong></td>
    <td>{{character.death}}</td>
  </tr>
  {{/if}}
</table>
{{/if}}
